<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edição de Imagem</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Edição de Imagem</h1>

    <!-- Exibir imagem original -->
    <h2>Imagem Original</h2>
    <img src="{{ url_for('static', filename='images/' + original_image) }}" alt="Imagem Original" width="300">

    <form action="" method="POST">
        <div>
            <label for="brightness">Brilho:</label>
            <input type="number" name="brightness" min="0.1" max="2" step="0.1" value="1">
        </div>
        <div>
            <label for="contrast">Contraste:</label>
            <input type="number" name="contrast" min="0.1" max="2" step="0.1" value="1">
        </div>
        <div>
            <label for="saturation">Saturação:</label>
            <input type="number" name="saturation" min="0.1" max="2" step="0.1" value="1">
        </div>
        <div>
            <label for="sharpness">Nitidez:</label>
            <input type="number" name="sharpness" min="0.1" max="2" step="0.1" value="1">
        </div>
        <div>
            <label for="grayscale">Tons de Cinza:</label>
            <input type="checkbox" name="grayscale">
        </div>
        <div>
            <label for="flip_horizontal">Espelhar Horizontalmente:</label>
            <input type="checkbox" name="flip_horizontal">
        </div>
        <div>
            <label for="flip_vertical">Espelhar Verticalmente:</label>
            <input type="checkbox" name="flip_vertical">
        </div>
        <button type="submit">Aplicar Efeitos</button>
    </form>
    </form>

    {% if edited_image %}
        <h2>Imagem Editada</h2>
        <img src="{{ url_for('static', filename='images/' + edited_image) }}" alt="Imagem Editada" width="300">
    {% endif %}
</body>
</html>
